USE [master]
GO
/****** Object:  Database [Paschoalotto]    Script Date: 23/07/2021 00:34:43 ******/
CREATE DATABASE [Paschoalotto]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Paschoalotto', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Paschoalotto.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Paschoalotto_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Paschoalotto_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Paschoalotto].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Paschoalotto]
GO
/****** Object:  Table [dbo].[Devedor]    Script Date: 23/07/2021 00:34:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Devedor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumeroTitulo] [int] NOT NULL,
	[Nome] [varchar](250) NOT NULL,
	[CPF] [varchar](11) NOT NULL,
	[Juros] [decimal](18, 2) NOT NULL,
	[Multa] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parcela]    Script Date: 23/07/2021 00:34:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parcela](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Vencimento] [datetime] NOT NULL,
	[Valor] [decimal](18, 2) NOT NULL,
	[DevedorId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Parcela]  WITH CHECK ADD FOREIGN KEY([DevedorId])
REFERENCES [dbo].[Devedor] ([Id])
GO
USE [master]
GO
